@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #006400;
  background-color: black;
}

body,
#wrapper {
  min-height: 100vh;
  min-height: 100svh;
}

#wrapper,
#row,
.choices {
  display: flex;
}

#wrapper {
  flex-direction: column;
}

main {
  flex-grow: 1;
}

footer {
  font-size: 0.5rem;
}

#left,
#right {
  flex-basis: 50%;
}

.avatar,
.choices,
.choices > *,
.score {
  border: 3px solid #006400;
}

@media screen and (max-width: 768px) {
  #row {
    flex-direction: column;
  }
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.choices {
  justify-content: center;
  gap: 2rem;
}

#logo,
.avatar,
.score,
#text_container > *,
footer {
  padding: 1rem 0 1rem 0;
}
